/* @import url(https://fonts.bunny.net/css?family=unifrakturmaguntia:400); */

* {
  box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0.6rem;
    display: flex;
    flex-direction: column;
}

h1 {
    /* font-family: 'UnifrakturMaguntia', 'Times New Roman', Times, serif; */
    font-family: 'Times New Roman', Times, serif;
    font-size: 3.5em;
    text-align: center;
    margin: 0 0 0.2em 0;
}

h1 a {
    text-decoration: none;
}

h2 {
    margin: 0;
}

h2 a {
    text-decoration: none;
    text-transform: capitalize;
}

h2 a:hover::after {
    content: " ↩";
    font-size: 0.8em;
}

a {
    color: black;
}

footer {
    width: 100%;
    margin-top: auto;
    text-align: center;
    font-size: 0.8em;
    color: #00000077;
    border-top: 2px solid black;
    margin-bottom: -0.6rem;
}

footer a {
    color: #00000077;
}

#tgw-heading p {
    text-align: center;
    font-size: 0.8em;
}

#tgw-content {
    max-width: 70ch;
    margin: 2rem auto;
}

#tgw-content a:visited {
    color: #888888;
}

#nav {
    border-top: 4px solid black;
    border-bottom: 2px solid black;
    padding: 0.4em 0;
}

#nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

#nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-transform: capitalize;
}

#nav a:hover {
    text-decoration: underline;
}

#nav ul {
    color: #00000077;
}

#content {
    margin-top: 1rem;
}

#content .topic .feeds {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-bottom: 2rem;
}

#editions {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    text-transform: uppercase;
    text-align: center;
    color: #00000077;
}

#editions a {
    text-decoration: none;
    color: #00000077;
}

#editions a.selected {
    color: black;
}

.subtitle {
    font-style: italic;
}

.under-construction {
    text-transform: uppercase;
    transform: rotate(-3deg);
    margin: 2rem;
}

.topic {
    width: 100%;
}

.topic:nth-of-type(1n + 2) {
    padding-top: 1rem;
    border-top: 1px solid black;
}

.feed-name a {
    text-decoration: none;
}

.feed-name a:hover {
    text-decoration: underline;
}

.posts {
    list-style: none;
    padding: 0;
    margin: 0;
}

.post a {
    padding: 0.2em 0;
    display: flex;
    gap: 0.2em;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.post a:visited {
    color: #888888;
}

.post:hover {
    background-color: #00000011;
}

.post .post-title {
    text-decoration: underline;
}

.post.more-posts a {
    color: #00000077;
    font-size: 0.8em;
    display: block;
    width: min-content;
}

.post.more-posts a .post-title{
    text-decoration: none;
}

.post.more-posts:hover {
    background-color: unset;
}

.recency {
    color: #00000077;
    font-size: 0.8em;
    text-decoration: none;
}

.recency::before {
    content: "[";
}

.recency::after {
    content: "]";
}

@media (min-width: 800px) {
    #tgw-heading {
        padding-top: 0.4rem;
        position: relative;
    }

    #tgw-heading > div {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    p.issue-info.date {
        position: absolute;
        left: 0px;
        top: 0px;
        margin: 0;
    }

    p.issue-info.info {
        text-align: right;
        position: absolute;
        right: 0px;
        top: 0px;
        margin: 0;
    }
}