body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.subheading {
    font-style: italic;
}

.coming {
    font-style: italic;
}

#feeds {
    list-style: none;
    padding: 0;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
}

.favicon {
    height: 20px;
    width: 20px;
    margin-right: 0.5rem;
    vertical-align: middle;
}

