* {
  box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 3.5em;
    text-align: center;
    margin: 0 0 0.2em 0;
}

h2 {
    margin: 0;
}

#nav {
    border-top: 4px solid black;
    border-bottom: 2px solid black;
    padding: 0.4em 0;
}

#nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

#nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#nav a:hover {
    text-decoration: underline;
}

#feeds {
    margin-top: 1rem;
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* margin-left: auto;
    margin-right: auto;
    max-width: fit-content; */
    justify-items: center;
}

#editions {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: #00000077;
}

#editions a {
    text-decoration: none;
    color: #00000077;
}

#editions a.selected {
    color: black;
}

.issue-info {
    font-size: 0.8em;
    text-align: center;
}

.feed {
    padding: 0.4rem;
}

.feed-name a {
    text-decoration: none;
    color: black;
}

.feed-name a:hover {
    text-decoration: underline;
}

.posts {
    list-style: none;
    padding: 0;
    margin: 0;
}

@media (min-width: 800px) {
    #tgw-heading {
        display: flex;
        justify-content: space-between;
        padding-top: 0.4rem;
    }

    .issue-info {
        margin: 0;
    }

    .issue-info.info {
        text-align: right;
    }
}