/* @import url(https://fonts.bunny.net/css?family=unifrakturmaguntia:400); */

* {
  box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif
}

h1 {
    /* font-family: 'UnifrakturMaguntia', 'Times New Roman', Times, serif; */
    font-family: 'Times New Roman', Times, serif;
    font-size: 3.5em;
    text-align: center;
    margin: 0 0 0.2em 0;
}

h2 {
    margin: 0;
}

h2 a {
    color: black;
    text-decoration: none;
    text-transform: capitalize;
}

h2 a:hover::after {
    content: " ↩";
    font-size: 0.8em;
}

#tgw-heading p {
    text-align: center;
    font-size: 0.8em;
}

#tgw-content {
    margin-top: 3rem;
    max-width: 70ch;
    margin-left: auto;
    margin-right: auto;
}

#nav {
    border-top: 4px solid black;
    border-bottom: 2px solid black;
    padding: 0.4em 0;
}

#nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

#nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-transform: capitalize;
}

#nav a:hover {
    text-decoration: underline;
}

#nav ul {
    color: #00000077;
}

#content {
    margin-top: 1rem;
}

#content .topic .feeds {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-bottom: 2rem;
}

#editions {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    text-transform: uppercase;
    text-align: center;
    color: #00000077;
}

#editions a {
    text-decoration: none;
    color: #00000077;
}

#editions a.selected {
    color: black;
}

.topic {
    width: 100%;
}

.topic:nth-of-type(1n + 2) {
    padding-top: 1rem;
    border-top: 1px solid black;
}

.issue-info a {
    color: black;
}

.feed-name a {
    text-decoration: none;
    color: black;
}

.feed-name a:hover {
    text-decoration: underline;
}

.posts {
    list-style: none;
    padding: 0;
    margin: 0;
}

.post a {
    padding: 0.2em 0;
    display: flex;
    gap: 0.2em;
    justify-content: space-between;
    align-items: center;
    color: black;
}

.post:hover {
    background-color: #00000022;
}

/* .post a {
    font-weight: bold;
} */

/* .post a:visited {
    font-weight: normal;
} */

.recency {
    color: #00000077;
    font-size: 0.8em;
}

.recency::before {
    content: "[";
}

.recency::after {
    content: "]";
}

.today {
    font-weight: bold;
}

@media (min-width: 800px) {
    #tgw-heading {
        display: flex;
        justify-content: space-between;
        padding-top: 0.4rem;
    }

    .issue-info {
        margin: 0;
    }

    .issue-info.info {
        text-align: right;
    }
}