name: Daily Netlify Build

on:
  schedule:
    - cron: "42 11 * * *"
  workflow_dispatch: 

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Netlify Build Hook
        run: |
          curl -X POST ${{ secrets.NETLIFY_HOOK }}
